body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #004d00; /* A green background */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #aaaaaa; /* Light grey color for hover state */
}

.welcome-section {
    background-color: #006600; /* Slightly lighter green background */
    color: white;
    padding: 50px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    margin: 15px 0;
}
.centered-content {
    margin: auto;
    padding: 3cm; 
    text-align: center;
    max-width: calc(100% - 4cm); 
}