<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>Login page</title>
</head>
<body>
    <form method="post">
        <fieldset style="margin-left: 30%; margin-top: 15%; width: 40%;">
            <input name="username" placeholder="Username" autocomplete="given-name">
            <input type="password" name="password" placeholder="Password" autocomplete="password2">
        </fieldset>
        <fieldset class="grid" style="margin-left: 30%; width: 40%;">
            <input type="submit" value="Login">
            <input type="button" value="Register">
        </fieldset>
        
    </form>
</body>
</html>